@use "fonts";

$primary-font: "Raleway", sans-serif;
$heading-font: "Playfair Display", serif;

$background-color: #f9f5e3;
$gold-color: #cdaa7d;
$text-gray-color: #a1a1a1;
$text-light-color: #ffffff;
$text-dark-color: #1a1a1a;
$primary-color: #7b2c34;
$primary-light-color: #a4464f;
