@use 'fonts';

$primary-font: 'Raleway', sans-serif;
$heading-font: 'Playfair Display', serif;

$background-color: #F9F5E3;
$gold-color: #CDAA7D;
$text-gray-color: #A1A1A1;
$text-light-color: #FFFFFF;
$text-dark-color: #1A1A1A;
$primary-color: #7B2C34;
$primary-light-color: #A4464F;
